body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  overflow: hidden;
  transition: 1s background-color;
}

a:link, a:visited {
  color: inherit;
  text-decoration: underline;
}

a:hover, a:active {
  text-decoration: none;
}

main {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  display: grid;
  grid-template-columns: min-content ;
  grid-template-rows: min-content min-content min-content;
  grid-template-areas:
    "    links    "
    "    name     "
    " description ";

  transition: 0.5s opacity, 1s transform, 1s top;
}

.focus > main:not(.duplicate) {
  pointer-events: none;
  opacity: 0;
}

main.duplicate {
  display: none;
  pointer-events: none;
  z-index: -5;
}

.show-duplicate > main.duplicate {
  display: grid;
}


.name {
  text-transform: uppercase;
  margin: 0;
  font-size: 2.5em;
  line-height: 0.85;
  font-family: 'Roboto Mono';
  grid-area: name;
  font-weight: 700;
  color: #222;
}

.description, .links {
  color: #666;
}

.description {
  margin: 0;
  padding: 0;
  grid-area: description;
  text-align: right;
}

.links {
  list-style-type: none;
  grid-area: links;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.links li {
  display: inline;
}

.links li:not(:last-child) {
  margin-right: 1em;
}

.link-8th-wall:link, .link-8th-wall:visited {
  color: #7611B7;
}

@media screen and (min-width: 35em){
  .name {
    white-space: pre;
  }

  .links {
    display: inline-block;
  }
}

@media screen and (min-width: 70em){
  .name {
    font-size: 4em;
  }
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 1s opacity;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

aside {
  position: absolute;
  font-size: 0.7rem;
  color: #0004;
  transition: 1s color;
}

#info {
  top: 1em;
  right: 1em;
}

#ar {
  left: 1em;
  bottom: 1em;
}

.focus aside {
  color: #0008;
}

footer {
  position: absolute;
  bottom: 1em;
  right: 1em;
  opacity: 0.4;
  font-size: 0.7rem;
}

.embed8-pop-over {
  left: 50%;
  transform: translate(-35px, -1em);
  border-radius: 0;
}

.embed8-pop-over:after {
  left: 35px;
}